.hide {
  display: none;
}

.title {
  text-align: center;
}

.container {
  .title {
    padding: 15px;
  }
}

.todo-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  width: 400px;
  margin: 10px;
  display: flex !important;
  flex-direction: column;
  .title{
    margin-bottom: 0 !important;
  }
  i {
    align-self: center;
    background-color: red;
    color: white;
    &:hover {
      background-color: rgb(116, 0, 0);
    }
  }
}

i {
  border: 1px solid black;
  padding: 8px;
  border-radius: 100%;
  cursor: pointer;
}

.project-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  .priority {
    display: flex;
    flex-direction: column;
    align-items: center;  
  }
  .task-area {
    display: flex;
    flex-direction: column;
    align-items: center;  
    .new-task {
      display: flex;
      flex-direction: column;
      align-items: center;  
    }
  }
  input {
    width: 300px;
    margin: 5px;
  }
  textarea {
    width: 300px;
    height: 150px;
    resize: none;
  }
  #date {
    width: 150px;
  }
  i {
    background-color: green;
    cursor: pointer;
    color: white;
    margin: 5px;
    &:hover {
      background-color: rgb(0, 46, 0);
    }
  }
  p {
    font-weight: bold;
    margin: 5px;
  }
  option {
    color: white;
  }
  #low {
    background-color: green;
  }
  #medium {
    background-color: orange;
  }
  #high {
    background-color: red;
  }
}
