* {
  box-sizing: border-box;
}

.hide {
  display: none !important;
}

.container {
  .title {
    text-align: center;
    padding: 15px;
  }
}

.todo-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

i {
  padding: 8px;
  border-radius: 100%;
  cursor: pointer;
}

.create-area {
  display: flex;
  width: 900px;
  .create-project-area {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      align-self: center;
    }
    .project-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        width: 300px;
        margin: 5px;
      }
    }
  }
  .create-task-area {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    #create-task {
      margin: 5px;
    }
    .task-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        width: 270px;
        margin: 5px;
      }
      button {
        margin: 5px;
      }
      select {
        margin: 5px;
      }
    }
  }
}

.all-projects {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  .project {
    width: 290px;
    background-color: white;
    margin: 5px;
    display: flex;
    flex-direction: column;
    .task-title {
      text-align: center;
      font-size: 35px;
      font-weight: bold;
    }
    .task {
      display: flex;
      margin: 5px;
      cursor: pointer;
      .task-description {
        width: 85%;
        padding: 5px 5px 5px 10px;
      }
      .task-delete {
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          align-self: center;
          background-color: red;
          color: white;
          &:hover {
            background-color: rgb(116, 0, 0);
          }
        }
      }
    }
    .true {
      background-color: rgb(170, 226, 195);
    }
    .false {
      background-color: rgb(243, 196, 196);
    }
    .buttons {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin: 10px 5px;
      button {
        margin-bottom: 0;
      }
    }
  }
  .task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      width: 270px;
      margin: 5px;
    }
    button {
      margin: 5px;
    }
  }
}

table {
  tr{
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    .project {
      width: 290px;
      background-color: white;
      margin: 5px;
      display: flex;
      flex-direction: column;
      .task-title {
        text-align: center;
        font-size: 35px;
        font-weight: bold;
      }
      .task {
        display: flex;
        margin: 5px;
        cursor: pointer;
        .task-description {
          width: 85%;
          padding: 5px 5px 5px 10px;
        }
        .task-delete {
          width: 15%;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            align-self: center;
            background-color: red;
            color: white;
            &:hover {
              background-color: rgb(116, 0, 0);
            }
          }
        }
      }
      .true {
        background-color: rgb(170, 226, 195);
      }
      .false {
        background-color: rgb(243, 196, 196);
      }
      .buttons {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 10px 5px;
        button {
          margin-bottom: 0;
        }
      }
    }
  }
}

.low {
  border-left: 5px solid green;
}

.medium {
  border-left: 5px solid orange;
}

.high {
  border-left: 5px solid red;
}
