* {
  background: rgb(233, 233, 233);
}

.hide {
  display: none;
}

.content {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

button {
  border: 0;
  border-radius: 4px;
  background: white;
  cursor: pointer;
  width: 30%;
  padding: 10px;
  color: white;
}

.new-project-button {
  background: blue;
  &:active {
    background-color: rgb(0, 0, 134);
  }
}

.close-form {
  background: red;
  &:active {
    background-color: rgb(119, 1, 1);
  }
}

.post-project-button {
  background: rgb(0, 134, 0);
  &:active {
    background-color: rgb(0, 68, 0);
  }
}

input, textarea {
  width: 50%;
  background: white;
  border: none;
  border-radius: 4px;
}

p {
  margin: 0;
}

div {
  padding: 10px 0;
}

i {
  border: 1px solid black;
  padding: 5px;
  border-radius: 100%;
  cursor: pointer;
  color: white;
}

.new-project {
  i {
    background: rgb(0, 134, 0);
    &:hover {
      background-color: rgb(0, 68, 0);
    }
  }
}

textarea {
  resize: none;
}

.projects {
  width: 100%;
}

.project {
  i {
    background-color: red;
    margin-top: 10px;
    &:hover {
      background-color: rgb(119, 1, 1);
    }
  }
}

.checkbox {
  width: 0;
}

.task-input {
  margin: 10px;
}

#priority {
  width: 5%;
  padding: 0;
  cursor: pointer;
}

.priority p {
  padding-bottom: 10px;
}